*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.5s;
}

body{
    justify-content: center;
    align-items: center;
    text-align: center;
}


.container{
    justify-content: center;
    align-items: center;
    text-align: center;
    background: black;
    width: 100%;
    height: 100%;
}

.headclass{
    background: whitesmoke;
    color: black;
}


.headclass ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}


.headclass ul li{
    padding: 20px;
}

.headclass a{
    color: black;
    text-decoration: none;
    transition: 0.7s linear;
}

.headclass a:hover{
    text-decoration: underline;
}


#Thememode{
    background: black;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

section{
    justify-content: center;
    text-align: center;
    align-items: center;
    color: whitesmoke;
    margin: 50px;
}

#Home h2{
    margin: 10px;
    color: red;
    text-decoration: underline;
}


.about-container{
    display: flex;
    margin: 40px;
}

.about-container p{
    margin: 20px;
}

.profileimage{
    position: relative;
    width: 250px;
    height: 220px;
    border-radius: 200px;
    border-radius: 500px;
}

.profileimage::before{
    content: "";
    position: absolute;
    margin: 20px;
    background: linear-gradient(blue,red,purple);
    width: 100%;
    height: 100%;
    top: -5px;
    left: -5px;
    border: none;
    z-index: -1;
    background-size: 600%;
    border-radius: 50px;
    width: calc(100% + 14px);
    height: calc(100% + 14px);
    border-radius: 50%;
}

#About{
    justify-content: center;
    text-align: center;
    align-items: center;
}


.social-media ul{
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    list-style: none;
}

.social-media ul li{
    padding: 30px;
}
.social-media ul li a{
    padding: 10px;
    border: 1px solid;
    color: whitesmoke;
    border-radius: 50px;
    transition: 0.4s all linear;
}

.social-media ul li a:hover{
    background: white;
    color: black;
}

.protfolio-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.skills-card{
    margin: 20px;
    border: 1px solid;
    border-radius: 10px;
    box-shadow: 10px 10px 10px;
    transition: 0.6s;
}


.skills-card progress{
    border-radius: 10px;
    border: none;
    background: white;
}

::-moz-progress-bar{
    background: aqua;
}



.skills-card:hover{
    scale: 0.95;
}


.skills-card h2{
    margin: 20px;
}


hr{
    margin: 20px;
    padding: 2px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to right,blue,red,purple,yellow,white,pink,green);
    animation: coloranimation 8.4s infinite;
}


.infoform{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid white;
    border-radius: 10px;
}

.infoform input{
    padding: 10px;
    width: 60%;
    border: none;
    border-radius: 5px;
}

label{
    text-align: left;
    margin: 10px;
}

.submitbtn{
    display: inline-block;
    margin: 20px;
    border: none;
    border-radius: 10px;
    padding: 10px;
}


@keyframes coloranimation {
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}
